
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/main2.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main1.css">
    <script src="../static/js/vendor/modernizr-2.7.1.min.js"></script>
    <style type="text/css">
		body {
			font-family: 'Open Sans', sans-serif;
		}
	</style>
	<script>
		$(window).bind('scroll',function(e) {
			parallaxScroll();
		});

		function parallaxScroll() {
			var scrolled = $ (window).scrollTop();
			$('#')
		}
	</script>
  </head>

  <body class="loading">
  	<div id="preload">
       	<img src="../static/img/bcg_slide-1.jpg">
       	<img src="../static/img/bcg_slide-2.jpg">
       	<img src="../static/img/bcg_slide-3.jpg">
       	<img src="../static/img/bcg_slide-4.jpg">
   	</div>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top">
    	<img src="../static/header/Header-bar.png" id="bg">
    	<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
    			<a class="navbar-brand" href="#"><img id="logo" src="../static/header/eUP-logo.png"></a>
    		</div>
    		<!-- Collect the nav links and other content for toggling -->
    		
	    		<div class="navbar-right">
	    			<ul class="navi navbar-nav">
	    				<li> <a href="#"> HOME </a></li>
	    				<li class="dropdown">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</a>
							  <ul class="dropdown-menu">
								<li><a href="#">ABOUT UP E-MAIL</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">IT OFFICE TEAM</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">WHO WE SUPPORT</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">CU IT OFFICE</a></li>
							</ul>
						</li>
	    				<li> <a href="#"> SERVICE </a></li>
	    				<li> <a href="#"> QUICKLINKS </a></li>
	    				<li> <a href="#"> POLICIES </a></li>
	    				<li> <a href="#"> SERVICE DESK </a></li>
	    			</ul>
	    		</div>
	    	<!-- /.navbar-collapse -->
    	</div>
    </nav>

    <main>
       	 
        <section id="slide-1" class="homeSlide">
        	<div class="bcg"
				data-center="background-position: 50% 0px;"
				data-top-bottom="background-position: 50% -100px;"
				data-anchor-target="#slide-1"
			>
				<div class="hsContainer">
					<div class="hsContent"
						data-center="bottom: 200px; opacity: 1"
						data-top="bottom: 1000px; opacity: 0"
						data-anchor-target="#slide-1 h2"
					>
						<h2 id="animate1">COMMUNICATE. CONNECT. INNOVATE.</h2>
					</div>
				</div>
			</div>
	    </section>
	    
	    <section id="slide-2" class="homeSlide">
	    	<div class="bcg"
				data-center="background-position: 50% 0px;"
				data-top-bottom="background-position: 50% -100px;"
				data-bottom-top="background-position: 50% 200px;"
				data-anchor-target="#slide-2"
			>
				<div class="hsContainer">
					<div class="hsContent"
						data--200-bottom="opacity: 0"
						data-center="opacity: 1"
	                    data-anchor-target="#slide-2 h1"
					>
						<h1> ANNOUNCEMENTS </h1>
						<p class="divider"></p>

						
					</div>
					<p class="message"> No announcement yet. Oh no 19 units plus thesis :))) Sa mga DCSS, if you want Game Design, you could come after me pagkatapos ko i-cancel yung class :)) </p>
				</div>
			</div>
	    </section>
	    
		<section id="slide-3" class="homeSlide">
			<div class="bcg"
					data-center="background-position: 50% 0px;"
					data-top-bottom="background-position: 50% -100px;"
					data-bottom-top="background-position: 50% 100px;"
					data-anchor-target="#slide-3"
				>
					<div class="hsContainer">
						<div class="hsContent"
							data--200-bottom="opacity: 0"
							data-center="opacity: 1"
		                    data-anchor-target="#slide-3 h1"
						>
							<h1> ABOUT US </h1>
							<p class="divider"></p>
							<ul class="about_navi navbar-nav">
			    				<li> <a href="#"> The Office </a></li>
			    				<li> <a href="#"> The Team </a></li>
			    				<li> <a href="#"> Who We Support </a></li>
			    				<li> <a href="#"> CU IT Office </a></li>
			    			</ul>
						</div>
					</div>
			</div>
		</section>
		
		<section id="slide-4" class="homeSlide">
			<div class="bcg"
				data-center="background-position: 50% 0px;"
				data-top-bottom="background-position: 50% -100px;"
				data-bottom-top="background-position: 50% 100px;"
				data-anchor-target="#slide-4"
			>
				<div class="hsContainer">
					<div class="hsContent"
						data--200-bottom="opacity: 0"
						data-center="opacity: 1"
	                    data-anchor-target="#slide-4 h1"
					>
						<h1> SERVICES </h1>
					    <p class="divider"></p>
					    
					</div>

			    	<div class="row" id="first">
			    		<div class="col-sm-4">
			    			<img src="../static/services/about up-email icon.png">
			    			<h2> About UP E-mail </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/services/video-conferencing-icon.png">
			    			<h2> Video Conferencing </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/services/remote-access-icon.png">
			    			<h2> Remote Access for UP System Employees </h2>
			    		</div>
			    	</div>
			    	<div class="row" id="second">
			    		<div class="col-sm-4">
			    			<img src="../static/services/up-system-voip-service-icon.png">
			    			<h2> UP System VOiP Service </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/services/software-repository-icon.png">
			    			<h2> Software Repository </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/services/ict-training-icon.png">
			    			<h2> ICT Training </h2>
			    		</div>
			    	</div>
					    
				</div>
			</div>
		</section>

		<section id="slide-5" class="homeSlide">
			<div class="bcg"
				data-center="background-position: 50% 0px;"
				data-top-bottom="background-position: 50% -100px;"
				data-bottom-top="background-position: 50% 100px;"
				data-anchor-target="#slide-5"
			>
				<div class="hsContainer">
					<div class="hsContent"
						data--200-bottom="opacity: 0"
						data-center="opacity: 1"
	                    data-anchor-target="#slide-5 h1"
					>
						<h1> QUICKLINKS </h1>
					    <p class="divider"></p>
					</div>
					<div class="row" id="third">
			    		<div class="col-sm-4">
			    			<img src="../static/quicklinks/up-e-mail-icon.png">
			    			<h2> UP E-mail </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/quicklinks/upd-voip-directory-icon.png">
			    			<h2> UPD VOIP Directory </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/../static/quicklinks/helpdesk.png">
			    			<h2> Helpdesk </h2>
			    		</div>
			    	</div>
				</div>
			</div>
		</section>

		<section id="slide-6" class="homeSlide">
			<div class="bcg"
				data-center="background-position: 50% 0px;"
				data-top-bottom="background-position: 50% -100px;"
				data-bottom-top="background-position: 50% 100px;"
				data-anchor-target="#slide-6"
			>
				<div class="hsContainer">
					<div class="hsContent"
						data--200-bottom="opacity: 0"
						data-center="opacity: 1"
	                    data-anchor-target="#slide-6 h1"
					>
						<h1> UP System IT Policies </h1>
					    <p class="divider"></p>
					</div>
					<div class="row" id="third">
			    		<div class="col-sm-4">
			    			<img src="../static/up_system_it_policies/Acceptable-use-policy-icon.png">
			    			<h2> Acceptable Use Policy </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/up_system_it_policies/ict-security-icon.png">
			    			<h2> ICT Security Policy </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/up_system_it_policies/data-privacy-icon.png">
			    			<h2> Data Privacy Policy </h2>
			    		</div>
			    	</div>
				</div>
				
			</div>
		</section>

		<section id="slide-7" class="homeSlide">
			<div class="bcg"
				data-center="background-position: 50% 0px;"
				data-top-bottom="background-position: 50% -100px;"
				data-bottom-top="background-position: 50% 100px;"
				data-anchor-target="#slide-7"
			>
				<div class="hsContainer">
					<div class="hsContent"
						data--200-bottom="opacity: 0"
						data-center="opacity: 1"
	                    data-anchor-target="#slide-7 h1"
					>
						<h1> UP System Service Desk </h1>
					    <p class="divider"></p>
					</div>
					<div class="row" id="fourth">
			    		<div class="col-sm-4">
			    			<img src="../static/up_system_service_desk/up-email-faq-icon.png">
			    			<h2> UP Email FAQ's </h2>
			    		</div>
			    		<div class="col-sm-4">
			    			<img src="../static/up_system_service_desk/core-is-faq-icon.png">
			    			<h2> Core IB FAQ's </h2>
			    		</div>
			    	</div>
				</div>
			</div>
		</section>
		<section id="slide-8" class="homeSlide">
			<div class="bcg"
				data-center="background-position: 50% 0px;"
				data-top-bottom="background-position: 50% -100px;"
				data-bottom-top="background-position: 50% 100px;"
				data-anchor-target="#slide-8"
			>
				<div class="hsContainer">
					<div class="row">
						<img src="../static/footer/back-to-top-icon.png">
					</div>
					<div class="row">
						<img src="../static/footer/3F-Vidal-A.-Tan-Hall,--Quirino-Ave.-cor.-Velasquez-Street-Univ.png" id="">
					</div>
				</div>
			</div>
		</section>
	    
	</main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="../static/js/imagesloaded.js"></script>
    <script src="../static/js/skrollr.js"></script>
    <script src="../static/js/_main.js"></script>

  </body>
</html>
